.modal_wrapper {
    position: absolute ;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 12px;
        width: 800px;
        background-color: white;
  }
  .products_wrapper{
    max-height: 25vh;
    overflow-y: auto;
  }