.footer-up-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  column-gap: 5px;

  * {
    white-space: nowrap;
    font-size: 0.8rem;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.footer-up-flex-item {
  flex-basis: 0;
  flex-grow: 1;
  color: white;
}
